<div class="container">
<form #adduserform="ngForm" (ngSubmit)="addproductformsubmit()">
    <!-- <div class="form-group">
      <label for="id">id:</label>
      <input type="text" class="form-control" required [(ngModel)]="book.id" name="id">
    </div> -->
    <div class="form-group">
        <label for="name">name:</label>
        <input type="text" class="form-control" required [(ngModel)]="book.bookName" name="name">
      </div>
      <div class="form-group">
        <label for="author">author:</label>
        <input type="text" class="form-control" required [(ngModel)]="book.bookAuthor" name="author">
      </div>
      <div class="form-group">
        <label for="edition">edition:</label>
        <input type="text" class="form-control" required [(ngModel)]="book.bookEdition" name="edition">
      </div>
      <div class="form-group">
        <label for="price">price:</label>
        <input type="text" class="form-control" required [(ngModel)]="book.bookPrice" name="price">
      </div>
      <div class="form-group">
        <label for="description">description:</label>
        <input type="text" class="form-control" required [(ngModel)]="book.bookDescription" name="description">
      </div>
      <div class="form-group">
        <label for="category">category:</label>
        <input type="text" class="form-control" required [(ngModel)]="book.bookCategory" name="category">
      </div>

      <!-- <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          category of book
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" [(ngModel)]="book.bookCategory" name="category">tech</a>
          <a class="dropdown-item" [(ngModel)]="book.bookCategory" name="category">eng</a>
          <a class="dropdown-item" [(ngModel)]="book.bookCategory" name="category">self</a>
         
        </div>
      </div> -->
     
      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button"  [(ngModel)]="book.bookCategory"  name="category"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          category:
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" >Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Something else here</button>
        </div>
      </div> -->








      <div class="form-group">
        <label for="quantity">quantity:</label>
        <input type="text" class="form-control" required [(ngModel)]="book.bookQuantity" name="quantity">
      </div>
      <div class="form-group">
        <label for="qualityrating">qualityrating:</label>
        <input type="text" class="form-control" required [(ngModel)]="book.bookQualityRating" name="qualityrating">
      </div>
      <div class="form-group">
        <label for="contentrating">contentrating:</label>
        <input type="text" class="form-control" required [(ngModel)]="book.bookContentRating" name="contentrating">
      </div>
   

    <button type="submit" class="btn btn-success">Submit</button>
    <button type="back" class="btn btn-primary" [routerLink]="['/productlist']" >Back</button>
  </form>
</div>